body{
    margin: 0px;
    padding: 0px;
}
.fa-circle-user{
    font-size: 40px;
    cursor: pointer;
    color: rgb(129, 132, 129);
}
.line-container { 
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
.line-container img{
    width: 12%;
    margin-left: 25px;
    background-size: cover;
}
.line-container input{
    font-size: 18px;
    border-radius: 10px;
    margin-top: 20px;
    margin-right: auto;
    margin-left: 40px;
    width: 30%;
    transition:0.4s ease;
}
.line-container input:focus{
  width: 70%; /* يكبر كي تعمل focus */
  border-color: #555;
  outline: none;
}
.compte {
    text-align: center;
    margin-right: 25px;
}
.compte h2{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
}
.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(42, 68, 42);
    padding: 10px;
    align-items: center;
}
.link{
    padding: 0.5rem;
    position: relative;
}
.link::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background: #ffffff;
    border-radius: 5px;
    transform: scaleX(0);
    transition: all 0.6s ease;
    bottom: 0;
    left: 0;
}
.link:hover::before{
    transform: scaleX(1);
}
.navbar a{
    text-decoration: none;
    font-size: 20px;
    margin: 30px;
    color: whitesmoke;
    padding: 10px;
}
.navbar button{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 18px;
    padding: 10px;
    border-radius: 15px;
    border: solid transparent;
    background-color: rgba(16, 15, 15, 0.842);
    color: whitesmoke;
}
.navbar button:hover{
    cursor: pointer;
}
.contact-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgba(238, 249, 231, 0.872);
    height: 400px;
}
.contact{
    width: 60%;  
}
.contact img{
    width: 80%;
     margin: 0px 10px;
    border-radius: 8px;
}
.contact h2 {
   margin-top: 50px;
   font-size: 50px;
   margin-left: 60px;
}
.contact p {
    margin-left: 205px;
    font-size: 20px;
 }
.images{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100px;
    margin: 0px 280px;
    background-position: fixed;
}
.logs img{
    width: 100%;
    position: relative;
    right: 20%;
}
.cards-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 80px;
}
.cards img{
    width: 80%;
    transition: 1s;
}
.cards img:hover{
    transform: scale(1.1,1.1);
}
.cards h1:hover{
    text-shadow:1px 1px 12px rgb(186, 186, 180);
}
.cards{
    width: 40%; 
    text-align: center;
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #6f7ccf;
}
.gammes h1{
    text-align: center;
    font-size: 60px;
    text-transform: capitalize;
    letter-spacing: 5px;
    margin-bottom: 10px;
}
.gammes p{
    text-align: center;
    font-size: 18px;
    font-style: italic;
    text-transform: capitalize;
    margin-top: 0px;
}

.projects-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.projet{
    width: 20%;
    margin: 20px;
    box-shadow: 1px 1px 20px rgb(62, 83, 148);
    padding: 3px;
    border-radius: 18px 0px 18px 0px;
    height: 350px;
}
.projet h1{
    font-size: 30px;
}
.projet img{
    width: 100%;
    border-radius: 18px 0px 18px 0px;
    height: 50%;
    transition: 1s;
}
.projet img:hover{
    transform: scale(0.5);
}
.projet button{
    font-size: 15px;
    font-weight: bold;
    margin-left: 22%;   
    background-color: rgb(59, 91, 172) ; 
    color: #ffffff;
    padding: 6px;
    border: solid transparent;
    border-radius: 6px;
    transition: 1s;
}
.projet button:hover{
    cursor: pointer;
    transform: scale(1.2,1.2);
}
.projet-titre{
    font-size: 50px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.contacts{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.contact-formulaire {
    background-color: #f8f9fa;
    padding-right: 60px;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.895);
    margin-top: 40px;    
  }
  .contact-formulaire table{
    padding: 55px;
  }
  .contact-formulaire td {
    padding: 10px;
  }
  .contact-formulaire input {
    width: 100%;
    padding: 15px 40px;
    border: 1px solid #ccc;
    border-radius: 8px;
  }
  .bouton button {
    padding: 10px 40px;
    border: none;
    border-radius: 8px;
    background-color: #6387ae;
    color: white;
    cursor: pointer;
    margin: 0 10px;
  }
.contact-formulaire button:hover {
    background-color: #0b7af1;
  }
.contact-formulaire label{
    font-size: 20px;
    font-style: oblique;
    font-weight: bolder;
}

.contact-cards{
    border: solid transparent;
    box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.895);
    border-radius: 12px;
    width: 20%;
    height: 100px;
    align-items: center;
    margin-top: 98px;
    padding-left: 60px;
    padding-top: 20px;
}
.contact-cards span{
    padding-left: 15px;
    font-size: 20px;
    letter-spacing: 2px;
    font-weight: 100;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.contact-cards div{
    margin-bottom: 20px;
}
.contact-cards i {
    font-size: 25px;
    color: #6387ae;
}

.footer-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 130px;
    background-color: rgba(238, 249, 231, 0.872);
    margin-top: 30px;
}
.footer-container .reseaux{
    text-align: center;
    font-size: 40px;
    color: #6e7b8afb;
    margin-top: 20px;
}
.footer-container .reseaux i{
    margin: 0px 20px;
}
.footer-container nav{
    text-align: center;
    margin-top: 15px;    
}
.footer-container nav a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 20px;
    margin: 0px 20px;
}
